body {
    margin: 0;
    padding: 0;
}

header {
    padding: 15px;
    border-bottom: 2px solid rgb(2, 2, 38);
}

.logo_label_left {
    text-align: center;
    font-size: 300%;
    width: 100%;
    color: rgb(0, 97, 185);
    font-family: 'Crimson Pro', serif;
}

.header_left {
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    height: 100%;
}
.header_right {
    max-width: fit-content;
}

.tata_logo_img {
    max-height: 100px;
}

.page_container {
    margin-top : 200px;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.login_page_container {
    height: 60vh;
    min-width: 400px;
    width: 30%;
    padding-top: 10%
}

.login_form {
    background-color : rgb(238, 238, 238);
    padding : 20px 10px 20px 10px;
    border-radius : 20px;
    box-shadow: black;
    box-shadow: 2cm;
}

.loginbtn_container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.form_title_login {
    font-size: 30px;
    margin-left: -20px;
    margin-top: -80px;
}

.form_title_register {
    font-size: 30px;
    margin-left: -20px;
    margin-top: 20px;
}

.space {
    height : 20px;
}

.addresse_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.and_span {
    display: flex;
    justify-content: center;
}

.start-contract-button {

}

.start-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.propose-clauses-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    list-style-type: none
}

.contract-title {
    font-size: 32px;
}